[[mgr.prepend_keymap]]
on   = "!"
for  = "unix"
run  = 'shell "$SHELL" --block'
desc = "Open $SHELL here"

[[mgr.prepend_keymap]]
on   = [ "c", "M" ]
run  = "plugin chmod"
desc = "Chmod on selected files"

[[mgr.prepend_keymap]]
on   = "F"
run  = "plugin smart-filter"
desc = "Smart filter"

[[mgr.prepend_keymap]]
on   = "T"
run  = "plugin toggle-pane min-preview"
desc = "Show or hide the preview pane"

[[mgr.prepend_keymap]]
on   = "P"
run  = "plugin smart-paste"
desc = "Paste into the hovered directory or CWD"

[[mgr.prepend_keymap]]
on = "="
run = "plugin mux next"
desc = "Cycle through mux previewers"

#[[mgr.prepend_keymap]]
#on = "q"
#run = "plugin autosession -- save-and-quit"
#desc = "Save session and quit"
#─────────────────────────── 
# {{{ CUSTOM: ZOXIDE, Clop, fzf
#─────────────────────────── 
[[mgr.prepend_keymap]]
on = [ "z", "o" ]
run = "plugin zoxide"
desc = "Jump to a directory via zoxide"

[[mgr.prepend_keymap]]
on = [ "z", "a" ]
run = 'shell -- zoxide add %s'
desc = "Add dir to zoxide"

[[mgr.prepend_keymap]]
on = [ "z", "r" ]
run = 'shell -- zoxide remove %s'
desc = "Remove dir from zoxide"

[[mgr.prepend_keymap]]
on = "Z" #default was "z"
run = "plugin fzf"
desc = "Jump to a file/directory via fzf" 

[[mgr.prepend_keymap]]
on = [ "c", "o" ]
run = 'shell -- clop optimise %s'
desc = "Clop optimise pdf"

[[mgr.prepend_keymap]]
on = [ "c", "m" ]
run = 'shell -- chmod 644 %s'
desc = "Chmod 644"

[[mgr.prepend_keymap]]
on = [ "@" ]
run = 'shell -- ln -sf %s ~/Documents/0current/$(basename %s)'
desc = "Chmod 644"

#─────────────────────────── 
# end CUSTOM ZOXIDE }}}
#─────────────────────────── 

#─────────────────────────── 
# {{{ whoosh plugin
#─────────────────────────── 

[[mgr.prepend_keymap]]
on = "["
run = "plugin whoosh jump_by_key"
desc = "Jump bookmark by key"

# Direct fuzzy search access
[[mgr.prepend_keymap]]
on = "}"
run = "plugin whoosh jump_by_fzf"
desc = "Direct fuzzy search for bookmarks"

# Basic bookmark operations
[[mgr.prepend_keymap]]
on = [ "]", "a" ]
run = "plugin whoosh save"
desc = "Add bookmark (hovered file/directory)"

[[mgr.prepend_keymap]]
on = [ "]", "A" ]
run = "plugin whoosh save_cwd"
desc = "Add bookmark (current directory)"

# Temporary bookmarks
[[mgr.prepend_keymap]]
on = [ "]", "t" ]
run = "plugin whoosh save_temp"
desc = "Add temporary bookmark (hovered file/directory)"

[[mgr.prepend_keymap]]
on = [ "]", "T" ]
run = "plugin whoosh save_cwd_temp"
desc = "Add temporary bookmark (current directory)"

# Jump to bookmarks
[[mgr.prepend_keymap]]
on = "<A-k>"
run = "plugin whoosh jump_key_k"
desc = "Jump directly to bookmark with key k"

[[mgr.prepend_keymap]]
on = [ "]", "f" ]
run = "plugin whoosh jump_by_fzf"
desc = "Jump bookmark by fzf"

# Delete bookmarks
[[mgr.prepend_keymap]]
on = [ "]", "d" ]
run = "plugin whoosh delete_by_key"
desc = "Delete bookmark by key"

[[mgr.prepend_keymap]]
on = [ "]", "D" ]
run = "plugin whoosh delete_by_fzf"
desc = "Delete bookmarks by fzf (use TAB to select multiple)"

[[mgr.prepend_keymap]]
on = [ "]", "C" ]
run = "plugin whoosh delete_all"
desc = "Delete all user bookmarks"

# Rename bookmarks
[[mgr.prepend_keymap]]
on = [ "]", "r" ]
run = "plugin whoosh rename_by_key"
desc = "Rename bookmark by key"

[[mgr.prepend_keymap]]
on = [ "]", "R" ]
run = "plugin whoosh rename_by_fzf"
desc = "Rename bookmark by fzf"
#─────────────────────────── 
# end whoosh }}}
#─────────────────────────── 

#─────────────────────────── 
# {{{ tabs
#─────────────────────────── 

[[mgr.prepend_keymap]]
on = "9"
run = "tab_switch -1 --relative"
desc = "Switch to previous tab"

[[mgr.prepend_keymap]]
on = "0"
run = "tab_switch 1 --relative"
desc = "Switch to next tab"

[[mgr.prepend_keymap]]
on = "("
run = "tab_swap -1"
desc = "Swap current tab with previous tab"

[[mgr.prepend_keymap]]
on = ")"
run = "tab_swap 1"
desc = "Swap current tab with next tab"
#─────────────────────────── 
# end tabs }}}
#─────────────────────────── 


